/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

/*li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.c1{
	text-align: center;
}
.th{
    font-size:30px;

}

.th2{
    font-size:30px;
    border-radius: 12px;
    width: fit-content;
    background-color: #00c252;
     
}
#I1{
    float:right;
    margin-top: 1%
}

#t1{
    font-size:40px;
    border-radius: 12px;
    text-align: center;
}
body{
    background-image: url("a2.jpg");
}

.image_3{
    border-radius: 50%;
    width:48px;
    height:48px;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}*/


.ima_1 {
  display: block;
  width: 100%;
  height: auto;

}
.container_2 {
    float: left;
  position: relative;
  width: 20%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container_2:hover .overlay {
    opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
