{% extends "base.jinja" %}
{% block body %}


<img id = "I1" src="{{ url_for('static', filename='a.jpg') }}" width=40% height=50% >

<pre class = "th2">
Hello Everyone. I'm Afeef Bsharat,
I'm from Tamoun but I live in Nablus 
and I study in The Islamic school.
I have two sister and one brother 
there names are Noor,Yasmin and 
Yamen I'm the oldest son in the family.

In this website you will know some 
facts about me maybe you have never 
heard about so read it and enjoy.
</pre>

{% endblock %}
