{% extends "base.jinja" %}
{% block body %}

<a href="https://www.facebook.com/profile.php?id=100001445079134" class="button">Facebook</a>

<a href="https://www.instagram.com/afeef.b/" class="button">Instagram</a>

<pre class = "th2">	
Mobile number:0597555999
</pre>
<img src="{{ url_for('static', filename='12.jpg') }}" width=30% height=30%>

{% endblock %}