{% extends "base.jinja" %}
{% block body %}
<br>
<br>
<br>

<div>
<img src="{{ url_for('static', filename='12.jpg') }}" style = "border-radius: 50%;width:200px;height:200px;float = left">
<p>Afeef Bsharat<p><br>
<p>Lead Developar<p>
</div>

<div>
<img src="{{ url_for('static', filename='13.jpg') }}" style = "border-radius: 50%;width:200px;height:200px;float = left">
<p>Yazan Ratrout<p><br>
<p>Lead Designer<p>
</div>

<form>

Suggestions:<br>
<textarea rows="4" cols="50"> 
</textarea>
<input type="submit" value="Submit">

</form>


{% endblock %}