{% extends "base.jinja" %}
{% block body %}


<pre class = "th2">
In my free time I like to : 
watch anime 
play basketball 
play katrate
<!-- {% for hobby in hobby_list %}
<li>{{hobby}}</li>
{% endfor %} -->
</pre>

<img src="{{ url_for('static', filename='618290.png') }}" width=50% height=50% style = "float:right;">
<img src="{{ url_for('static', filename='raging-naruto-shippuden-desktop-background.jpg') }}" width=50% height=50%>


<p id = "t1">Karate</p>
<pre class = "th2">
I have been playing karate for seven years.
im traying to get a world medal , it is like 
the highest priority in this sport .
</pre>

<video width="650" height="550" controls  >
  <source src="{{ url_for('static', filename='14030021_158154621284676_494794233_n.mp4') }}" type="video/mp4">

</video>

<video style = "float: left;" width="650" height="550" controls>
  <source src="{{ url_for('static', filename='27659631_145531816119903_4088208476608659456_n.mp4') }}" type="video/mp4"  >
</video>


{% endblock %}
