{% extends "base.jinja" %}
{% block body %} 

<pre class = "th2">This is my first shape</pre>
<img src="{{ url_for('static', filename='afeef.png') }}">

<pre class = "th2">My Best Shape was Stars</pre>
<img src="{{ url_for('static', filename='best.png') }}">


<h1>I used python to make simple games </h1>

<pre class = "th2">My first one was pac man</pre>
<img src="{{ url_for('static', filename='first_game.png') }}">


<pre class = "th2">my final project with paython was 
cars trafic</pre>
<img src="{{ url_for('static', filename='final_project.png') }}">


{% endblock %}