{% extends "base.jinja" %}
{% block body %} 

<pre class = "th2">My First Shape with Turtle</pre>
<img src="{{ url_for('static', filename='afeef.png') }}">

<pre class = "th2">My Best Shape with Turtle</pre>
<img src="{{ url_for('static', filename='best.png') }}">


<pre class = "th2">My First Game with python</pre>
<img src="{{ url_for('static', filename='first_game.png') }}">


<pre class = "th2">My Final project</pre>
<img src="{{ url_for('static', filename='final_project.png') }}">


{% endblock %}