{% extends "base.jinja" %}
{% block body %}
<br>
<br>
<br>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Mohammad-hijaz.jpg') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">Mohammad-hijaz</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Mai-beitnoba.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Mai-beitnoba</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Monya-assi.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Monya-assi</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Mumen-anbr.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Mumen-anbr</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Nour-malakh.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Nour-malakh</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Nour-sharia.jpg') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">Nour-sharia</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Omar-fitian.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Omar-fitian</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Rania-jadallah.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Rania-jadallah</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Rita-aldeek.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Rita-aldeek</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Sireen-qadah.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Sireen-qadah</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Tamer-nabulsi.jpg') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">Tamer-nabulsi</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/waleed-rimawi.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Waleed-rimawi</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/mohammad-mlhem.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Mohammad-mlhem</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/hadeel-sadik.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Hadeel-sadik</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/A/Abdullah.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Abdullah</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Amer Hashem.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Amer Hashem</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Batool-mashaykh.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Batool-mashaykh</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Diana-deek.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Diana-deek</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Ehab-saroor.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Ehab-saroor</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Kareem Marayta.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Kareem Marayta</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Lana-musafer.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Lana-musafer</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Mariam-awwad.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Mariam-awwad</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Mohammad-salameen.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Mohammad-salameen</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Mousa-bsharat.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Mousa-bsharat</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Naeem-qwasmeh.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Naeem-qwasmeh</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Shadya-darawsheh.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Shadya-darawsheh</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Shahd-eid.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Shahd-eid</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Sufian Kamal.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Sufian Kamal</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/Taleb-aljallad.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">Taleb-aljallad</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y1/B/mysa.jpg') }}" alt="Avatar" class="ima_1">
  <div class="overlay">
    <div class="text">mysa</div>
  </div>
</div>


{% endblock %}