{% extends "base.jinja" %}
{% block body %}
<br>
<br>
<br>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/afeef bsharat.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">Afeef bsharat</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/ahmad darawsheh.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">ahmad darawsheh</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/ahmad domaide_.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">ahmad domaide_</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/ahmad durra.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">ahmad durra</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/aya baara.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">aya baara</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/basel hijaz.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">basel hijaz</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/fouad turjman.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">fouad turjman</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/Ghada issa.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">Ghada issa</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/hamzah ratrout.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">hamzah ratrout</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/ilham saeede.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">ilham saeede</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/ Kareem awad.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text"> Kareem awad</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/leen fahed.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text"> leen fahed</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/majd Barghouthi.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text"> majd Barghouthi</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/mayar shanan.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text"> mayar shanan</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/maya sheeb.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">maya sheeb</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/maysam alaa.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text"> maysam alaa</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/michiel msasaad.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">michiel msasaad</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/mohammad abo shilbaya.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">mohammad abo shilbaya</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/mohammad anwar.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">mohammad anwar</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/mohammad barbarawe.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">mohammad barbarawe</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/rasheeqa ramahi.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">rasheeqa ramahi</div>
  </div>

</div><div class="container_2">
  <img src="{{ url_for('static', filename='Y2/saja abo oudeh.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">saja abo oudeh</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/sara rasheed.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">sara rasheed</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/shahd najas.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">shahd najas</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/subhi awad.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">subhi awad</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/Tahseen ahmad.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">Tahseen ahmad</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/teama amer.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">teama amer</div>
  </div>
</div>

<div class="container_2">
  <img src="{{ url_for('static', filename='Y2/yazan ratrout.JPG') }}" alt="Avatar" class="ima_1" style = "margin:0">
  <div class="overlay">
    <div class="text">yazan ratrout</div>
  </div>
</div>

{% endblock %}